APP_NAME=MIRS
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=null
MAIL_MAILER=array
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

DATABASE_URL=
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mirs_testing
DB_USERNAME=mirs_testing
DB_PASSWORD=
TEST_ALLOWED_DATABASE_HOSTS=127.0.0.1,localhost
TEST_PROHIBITED_DATABASES=forge,laravel,mirs,production,fc_1_data_db_testing
